postgresql_version: 9.5
postgresql_encoding: 'UTF-8'
postgresql_locale: 'en_US.UTF-8'

postgresql_admin_user: "postgres"
postgresql_default_auth_method: "trust"

postgresql_cluster_name: "main"
postgresql_cluster_reset: false

# List of databases to be created (optional)
# Note: for more flexibility with extensions use the postgresql_database_extensions setting.
postgresql_databases:
  - name: flatter
    # owner: flatter          # optional; specify the owner of the database
    # hstore: no         # flag to install the hstore extension on this database (yes/no)
    # uuid_ossp: no      # flag to install the uuid-ossp extension on this database (yes/no)
    # citext: no         # flag to install the citext extension on this database (yes/no)

postgresql_users:
  - name: flatter
    pass: "{{psql_password}}"
    encrypted: no       # denotes if the password is already encrypted.

# List of user privileges to be applied (optional)
postgresql_user_privileges:
  - name: flatter                   # user name
    db: flatter                  # database
    priv: "ALL"                 # privilege string format: example: INSERT,UPDATE/table:SELECT/anothertable:ALL
    role_attr_flags: "CREATEDB" # role attribute flags
