---
- hosts: production
  become: True
  remote_user: root
  roles:
    - geerlingguy.nodejs
    - geerlingguy.git
    - ANXS.postgresql
    - geerlingguy.nginx
  vars_files:
    - vars/env.yml
    - vars/postgresql.yml
  vars:
    - nodejs_version: 6.x
      nodejs_npm_global_packages:
       - name: node-sass
    - nginx_remove_default_vhost: false
    - nginx_vhosts_filename: vhosts.conf
